html, body{
    height: 100%;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    min-height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    position: fixed;
    top: 0;
    z-index: 1000; /* Garante que o header fique sobre o banner ao rolar */
    width: 100%;
    background-color: #FFFFFF;   
    padding: 20px;
}

h1, h2{
    color:#DB2777;
}

h3{
    color: #ffffff;
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra sutil para separar o texto do fundo */
font-size: xx-large;
}

.banner {
    /* Mantém a textura visível, mas coloca uma camada escura por cima */
    background-color: rgba(0, 0, 0, 0.6);
   
    
    
}

.banner{
    /* background-color: #FCE5EA;
    padding: 50px; */
   
  --s: 60px;
  --c1: #f2b4a8;
  --c2: #91204d;
  
  --_g: radial-gradient(25% 25% at 25% 25%,var(--c1) 99%,#0000 101%);

  /* Adicionamos um gradient linear de preto transparente como primeira camada */
  background:
    linear-gradient(rgba(101, 100, 100, 0.6),rgba(101, 100, 100, 0.6)), 
    var(--_g) var(--s) var(--s)/calc(2*var(--s)) calc(2*var(--s)),
    var(--_g) 0 0/calc(2*var(--s)) calc(2*var(--s)),
    radial-gradient(50% 50%,var(--c2) 98%,#0000) 0 0/var(--s) var(--s),
    repeating-conic-gradient(var(--c2) 0 25%,var(--c1) 0 50%) 
      calc(.5*var(--s)) 0/calc(2*var(--s)) var(--s);
}


nav{
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
    color: #464545;
}

.verProduto{
    background-color: #DB2777;
    color: #FAFAF9;
    border-radius: 40px;
    padding: 10px;
    margin-left: 100px;
}

#sobre{
    background-color: #FAFAF9;
    padding: 20px;
    text-align: justify;
}

.titulo{
    padding: 10px;
    margin: 10px;
    text-align: center;
}

#produtos{
    display: flex;
    flex-direction: column;
}

.card{
    background-color: #FAFAF9;
    padding: 10px;
    margin: 10px;
    border-radius: 40px;
    flex: 1;
    text-align: center;
}

img{
    border-radius: 40px;
}

#simulador{
    background-color: #1C1917;
    color: #FAFAF9;
    padding: 20px;
}

button{
    border-radius: 40px;
    border-color: #DB2777;
    color: #DB2777;
    padding: 10px;
    text-align: center;
}

footer{
    margin: 10px;
    padding: 10px;
    color: darkgray;
}

@media screen and (min-width: 768px){
    #produtos{
      flex-direction: row;
    }

    .banner{
        text-align: center;
        padding: 100px;
    }

    .verProduto{
        margin-left: 50px;
    }

    #sobre{
        text-align: center;
        padding: 100px;
    }

    footer{
        text-align: center;
    }
}

@media screen and (min-width: 518px){
    .banner{
        text-align: center;
        padding: 100px;
    }
 
    .verProduto{
        margin-left: 50px;
    }
}